@page "/manage/school-posts/create"
@model CSMWebsite2023.Web.Pages.Manage.SchoolPosts.Create
@{
}

<form method="Post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="@Model.Dto!.Title">Title</label>
        <input type="text" asp-for="@Model.Dto!.Title" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Enter title">
        <input type="hidden" asp-for="@Model.Dto!.UserId" value="91a4e383-5133-4675-ad4e-24ef11bb4c00" />
    </div>
    <div class="form-group">
        <label for="@Model.Dto!.Content">Content</label>
        <textarea id="content" asp-for="@Model.Dto!.Content" for="@Model.Dto!.Content"></textarea>
    </div>
    <div class="form-group">
        <label for="@Model.ImageFile">Image File</label>
        <input type="file" asp-for="@Model.ImageFile" for="@Model.ImageFile" />
    </div>

    <span> @Model!.Error </span>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts{
    <script>
        tinymce.init({
            selector: '#content',
            plugins: 'image code',
            image_title: true,
            automatic_uploads: true,
            file_picker_types: 'image',
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');
                input.onchange = function () {
                    var file = this.files[0];

                    var reader = new FileReader();
                    reader.onload = function () {
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);
                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                };

                input.click();
            },
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });
    </script>
}